<div class="container">
  <h2>Amazing app!</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ullam beatae consequuntur rem quis aliquid natus doloremque sunt voluptate. Voluptatibus laudantium hic error ipsam quae exercitationem reiciendis nesciunt quaerat, ea!</p>
</div>
